@page
@model VP.OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input class="form-control" type="search" asp-for="SearchQuery" placeholder="Search restaurants by name"/>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">
                    <i class="fas fa-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Cuisine</th>
        <th></th>
    </tr>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg" asp-page="./Details" asp-route-restaurantId="@restaurant.Id">
                    @*<a class="btn btn-lg" href="/Restaurants/Details?restaurantId=@restaurant.Id">*@
                    <i class="fas fa-info-circle"></i>
                </a>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-primary"> Add new </a>

@section Footer {
    <p>@Model.Message</p>
}


